/* Copyright 2018 Dominik 'dreamsComeTrue' Jasiński. All Rights Reserved. */

.root {
    -fx-font-size: 12pt;
    -fx-font-family: "Tahoma";
    -fx-background: #4e4f51;
}

#center-pane {
    -fx-background-color: #55575c;
}

#center-logo {
    -fx-font-size: 20px;
    -fx-text-fill: #989a9d;
}

#infoText {
    -fx-background-color: #4e4f51;
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #989a9d;
}

.button:hover {
    -fx-background-color: #a6a8ab;
}

.button:armed {
    -fx-background-color: #e7e9ee;
}

/*.buttonStyle {*/
/*-fx-text-fill: #006464;*/
/*-fx-background-color: #DFB951;*/
/*-fx-border-radius: 20;*/
/*-fx-background-radius: 20;*/
/*-fx-padding: 5;*/
/*}*/
