/* Copyright 2018 Dominik 'dreamsComeTrue' Jasiński. All Rights Reserved. */

.code-area {
    -fx-background-color: rgb(50, 50, 50);
}

.code-area .selection {
    -fx-fill: #687cb8 !important;
    -fx-stroke-width: 0;
}

.code-area .paragraph-box:has-caret {
    -fx-background-color: rgb(67, 67, 67);
}

.code-area .text {
    -fx-fill: white;
}

.code-area .text.keyword {
    -fx-fill: orange;
    -fx-font-weight: bold;
}

.code-area .text.semicolon {
    -fx-font-weight: bold;
}

.code-area .text.paren {
    -fx-fill: #687cb8;
    -fx-font-weight: bold;
}

.code-area .text.bracket {
    -fx-fill: #687cb8;
    -fx-font-weight: bold;
}

.code-area .text.brace {
    -fx-fill: #687cb8;
    -fx-font-weight: bold;
}

.code-area .text.string {
    -fx-fill: #0bc30f;
}

.code-area .text.comment {
    -fx-fill: cadetblue;
}

.code-area .caret {
    -fx-stroke: yellow;
}

.code-area .lineno {
    -fx-font-style: normal;
    -fx-background-color: #2c2e30;
    -fx-text-fill: yellow;
}